.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.Toolbar nav {
    height: 100%;
}

.Toolbar-Logo{
    height: 80%;
}

nav a {
    text-decoration: none;
    padding: 0 10px;
    border-left: 1px solid gray;
}
.Toolbar nav a:first-child{
    border: none;
}